[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
slack-sdk = "*"
requests = "*"

[dev-packages]
flake8 = "*"
isort = "*"
black = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
freezegun = "*"

[requires]
python_version = "3.12"
